/*.db
/*.db-journal
/.idea
/.ipynb_checkpoints
/__pycache__
/backup-*.db
/backup.db
/fixer.sql
/housekeeping.db
/importer.py
/realer.live.py
/tests/vendor
/vendor
/static/images/missing-amenities.png
/static/images/missing-associates.png
/venv
/static/js/**/*.map
/*.lock
/static/js/angularjs/*.map
