<div class="w3-container w3-teal">
    <h2>List of Associates</h2>
</div>

<!--
{{associates}}
-->

<table class="w3-table w3-bordered w3-striped w3-border w3-hoverable">
    <thead class="w3-pale-yellow">
        <tr>
            <th>S.N.</th>
            <th>Associate (Name)</th>
            <th>Records Count</th>
            <th class="no-print">Data Entry</th>
            <th class="no-print">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(a, associate) in associates">
            <td>{{a+1}}</td>
            <td>{{associate[1]}}</td>
            <td><a ui-sref="associates.individual({id: associate[0]})">{{associate[2]}} records</a></td>
            <td class="no-print"><a ui-sref="missing.who({who: associate[1]})">Forgot Something</a></td>
            <td class="no-print"><a class="w3-btn w3-red" ng-click="fire({id:associate[0]})">Fire</a></td>
        </tr>
    </tbody>
</table>

<div class="w3-container no-print">
    <p><strong>Notes:</strong>
        Please contact your admin to make changes in this list, or
        <a ui-sref="associates.hire({})">hire somebody</a>.
    </p>
</div>
