<div class="w3-container w3-teal no-print">
    <h1>Amenities/Stuffs Forgotten - Report</h1>
</div>
<div class="w3-container no-print">
    <span class="w3-btn w3-margin" ng-repeat="dates in missingdata.dates" ng-class="{'w3-blue':dates[0]!=missingdata.when, 'w3-red':dates[0]==missingdata.when}" ng-click="choose_yyyymm(dates[0])">{{dates[0]}}: {{dates[1]}}</span>
</div>


<div class="newpage">
    <h2>Forgotten Amenities Summary - {{when}}</h2>
    <table class="w3-table w3-bordered w3-striped w3-border w3-hoverable">
        <thead class="w3-yellow">
        <tr>
            <th>S.N.</th>
            <th>Stuffs Forgotten</th>
            <th># Count</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(s, stuff) in missingdata.missingstuffs_counter">
            <td>{{s+1}}</td>
            <td>{{stuff[0]}}</td>
            <td>{{stuff[1]}}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="newpage">
    <h2>Associates Report - {{when}}</h2>
    <table class="w3-table w3-bordered w3-striped w3-border w3-hoverable">
        <thead class="w3-yellow">
        <tr>
            <th>S.N.</th>
            <th>Amenity</th>
            <th>Missing Stuffs Cases</th>
            <th>Area not cleaned</th>
            <th>Total Cases</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(a, associate) in missingdata.associates_reporting">
            <td>{{a+1}}</td>
            <td>{{associate[0]}}</td>
            <td>{{associate[1]}}</td>
            <td>{{associate[2]}}</td>
            <td>{{associate[3]}}</td>
        </tr>
        </tbody>
    </table>
    <p><strong>Note:</strong> If the total case is not equal to the sum of missing stuffs and area not cleaned, it
        indicates that the associate has record(s) of missing stuffs and area not cleaned on the same day(s).</p>
</div>

<!--{{dates}}-->
<div class="newpage">
    <h2>Forgotten Amenities - Daily Report -  {{when}}</h2>
    <table class="w3-table w3-bordered w3-striped w3-border w3-hoverable">
        <colgroup>
            <col style="width: 20%;"/>
            <col style="width: 20%;"/>
            <col style="width: 20%;"/>
            <col style="width: 20%;"/>
            <col style="width: 20%;"/>
        </colgroup>
        <thead class="w3-yellow">
        <tr>
            <th>Date</th>
            <th>Room #</th>
            <th>Amenities/Stuffs</th>
            <th>Area Not Cleaned</th>
            <th>Remarks</th>
        </tr>
        </thead>
    </table>
    <div ng-repeat="(d, date) in dates">
        <table class="w3-table w3-bordered w3-striped w3-border w3-hoverable">
            <colgroup>
                <col style="width: 20%;"/>
                <col style="width: 20%;"/>
                <col style="width: 20%;"/>
                <col style="width: 20%;"/>
                <col style="width: 20%;"/>
            </colgroup>
            <thead class="w3-yellow">
            <tr>
                <th colspan="5">{{date}}</th>
            </tr>
            </thead>
            <tbody>
            <!-- print the data of matching dates only -->
            <tr ng-if="missing.date == date" ng-repeat="missing in missingdatajson track by $index">
                <td>{{missing.associate|default:'-'}}</td>
                <td>{{missing.room|default:'-'}}</td>
                <td>{{missing.missingstuffs|default:'-'}}</td>
                <td>{{missing.anc|default:'-'}}</td>
                <td>{{missing.remarks|default:'-'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
